{% extends "base.html" %}

{% block title %} Edit User {% endblock %}

{% block content %}

<h1>Create a user</h1>

<form method="POST">
  <div>
    <label for="fn">First Name</label>
    <input type="text"
           name="first_name"
           id="fn"
           placeholder="Joel">
  </div>
  <div>
    <label for="ln">Last Name</label>
    <input type="text"
           name="last_name"
           id="ln"
           placeholder="Burton">
  </div>
  <div>
    <label for="img">Image URL</label>
    <input type="text"
           name="image_url"
           id="img"
           placeholder="http://joelburton.com/joel-burton.jpg">
  </div>
  <button type="submit" class="btn btn-outline-info">
    Cancel
  </button>
  <button type="submit" class="btn btn-success">
    Save
  </button>
</form>

{% endblock %}