{% extends "base.html" %}

{% block title %} {{ Name }} {% endblock %}

{% block content %}

  {% if user.image_url %}
  <img src="{{ user.image_url }}" alt="User Image">
  {% endif %}
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>

  <form>
    <button class="btn btn-primary"
            formaction="/users/{{ user.id }}/edit"
            formmethod="GET">
      Edit
    </button>
    <button class="btn btn-danger"
            formaction="/users/{{ user.id }}/delete"
            formmethod="POST">
      Delete
    </button>
  </form>

{% endblock %}